{% extends 'base.html.twig' %}

{% block title %}PlantSitting index{% endblock %}

{% block body %}
    <h1>PlantSitting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plant_sitting in plant_sittings %}
            <tr>
                <td>{{ plant_sitting.id }}</td>
                <td>{{ plant_sitting.startDate ? plant_sitting.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ plant_sitting.endDate ? plant_sitting.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ plant_sitting.createdAt ? plant_sitting.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_plant_sitting_show', {'id': plant_sitting.id}) }}">show</a>
                    <a href="{{ path('app_plant_sitting_edit', {'id': plant_sitting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plant_sitting_new') }}">Create new</a>
{% endblock %}
